#card{
        display: flex;
        justify-content:space-around;
        float: left;
}

.card-container{
        width: 320px;
        overflow: hidden;
        box-shadow:0px 0px 15px -5px;
        transition: 0.3s;
        animation:ease-in;
        margin: 10px 100px 50px 20px;
        height: 300px;
}

.card-container:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 15px 0px ;


}

.image-container img{
        overflow: hidden;
        height: 150px;
        justify-content: center;
        text-align: center;
        margin-top: 5px;
        margin-left: 90px;
}

.card-content{
    margin:1rem;
    margin-top:0.5rem;
}

h3,p{
    margin:0;
    padding:0;
}

.card-title{
    margin-bottom: 0.5rem;
    
}

.card-title h3{
    font-size:18px;
    font-weight:700;
}

.card-title p{
    font-size: 15px;
    font-weight:300;
    color:darkgray;
    
}

.btn{
    display: flex;
}

.btn button{
    padding: 0.5rem;
    border:none;
    transition:0.2s;
    margin-bottom:0.5rem;
    text-transform: uppercase;
}
.btn-modify{
    margin-left: 130px;
    background-color:blue;
    color:white;
}
.price{
    color:blueviolet;
    font-weight: 700;
    font-size: 20px;
 
}

/* .btn button:hover{
    background: rgba(27,156,252,0.1) ;
} */